{% extends 'base.html' %}
{% block content %}<!-- Card deck -->

<!-- Card deck -->
<div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://i.pinimg.com/originals/51/6d/8c/516d8cb35b407cb51f7cf572a60371d4.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button>
       -->
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://images.curiator.com/images/t_x/art/rfd3mzvc9fv1hmraqmdn/joel-santos-untitled.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->
      
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://i.pinimg.com/474x/2a/51/07/2a5107cb8b34b4b0789e4935109d71c5--unique-photo-art-photographers.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->
      
          </div>
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card deck -->

      <!-- Card deck -->
<div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://i.pinimg.com/originals/8c/8f/d7/8c8fd77368762d64aefddcfe4b293425.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button>
       -->
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU2E691V9qMFEOwhhsG6DCtNKL8mubNkh2utnmfcoG4CJNvVO1" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button>
       -->
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://www.worbz.com/wp-content/uploads/Joel-Santos-2.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button>
       -->
          </div>
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card deck -->

{% endblock %}