{% extends 'base.html' %}
{% block content %}<!-- Card deck -->

<!-- Card deck -->
<div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="http://joshuakors.com/abeikuslavepic6b.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->
      
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://ppmag.com/images/profiles/16101/lisa_kristine.com-nomad-lehdak__large.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button>
       -->
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="http://www.ifairer.com/article_image/amazing-portrait-of-worlds-top-photographers-8-63754-pic8.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->
      
          </div>
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card deck -->

      <!-- Card deck -->
<div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://steemitimages.com/640x0/https://static.boredpanda.com/blog/wp-content/uploads/2014/12/Top-10-photographers-for-travel-portraits37__700.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button> -->
      
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="https://qph.fs.quoracdn.net/main-qimg-995d6ae70efb85c3960f6113ccf80642" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button>
       -->
          </div>
      
        </div>
        <!-- Card -->
      
        <!-- Card -->
        <div class="card mb-4">
      
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="http://www.ifairer.com/article_image/amazing-portrait-of-worlds-top-photographers-11-50939-pic11.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
      
          <!--Card content-->
          <div class="card-body">
      
            <!--Title-->
            <!-- <h4 class="card-title">Card title</h4> -->
            <!--Text-->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <!-- <button type="button" class="btn btn-light-blue btn-md">Read more</button>
       -->
          </div>
      
        </div>
        <!-- Card -->
      
      </div>
      <!-- Card deck -->

{% endblock %}
